.about {
  background: white;

  .about-img-wrapper {
    height: 45vh;
  }

  .about-text-wrapper {
    
    >h3 {
      color: black;
      font-size: 18px;
      padding: 0 2.5rem;
    }

    >p {
      margin-top: 2rem;
      padding: 0 2.5rem;
    }

    >hr {
      width: 50vw;
      border: .5px solid $main-secondary-color;
    }
  }
}
