.drink-card {
  height: 70px;
  background: white;
  margin: 10px;
  display: flex;
  align-items: center;

  .drink-text {
    display: grid;
    align-items: center;
    margin: 15px 30px;
    width: 100%;
    grid-template-columns: .4fr 2fr .5fr .5fr;
    grid-template-rows: 40px;
    grid-template-areas:
    'number drink-name price add-icon';


    div > h4,
    h3 {
      margin: 0;
    }

    .number {
      grid-area: number;
    }

    .drink-name {
      grid-area: drink-name;    
    }

    .price {
      grid-area: price;
    }

    .add-icon {
      grid-area: add-icon;    
    }

    .price,
    .add-icon {
      justify-content: flex-end;
      display: flex;
    }
  }
}