.menu-section {
  background: white;
  padding: 3rem 1rem;
  margin-bottom: .7rem;
  display: flex;
  justify-content: center;

  .menu-section-wrapper {
      h1 {
          color: $main-secondary-color;
          margin-left: 35px; 
      }
    }
  }