.menu-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: white;

  &:first-child {
    margin-top: 0;
  }

  &.activeCard {
    padding-top: 60px;
    margin: 0 0 10px;
  }

  @media (min-width: $screen-sm-md) {
    flex-direction: row;

    &.activeCard {
      flex-direction: column;
      padding-top: 0;
    }
  }

  .image {
    flex: 1;
  }

  .text {
    @media (max-width: $screen-sm-lg) {
      flex: 1;
    }
  }
}
