.menu-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &.activeCard {
    padding: 60px 0 90px 0;
    margin: 0 0 10px;
  }

  @media (min-width: $screen-sm-md) {
    flex-direction: row;

    &.activeCard {
      flex-direction: column;
      padding-top: 0;
      margin: 0 10px 10px;

      /* > .content-text-wrapper {
        grid-template-columns: 45px 350px 55px;
      } */
    }
  }

  .image {
    flex: 1;
  }

  .text {
    @media (max-width: $screen-sm-lg) {
      flex: 1;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .inactive-card {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $main-base-color;
    opacity: .7;
    display: flex;
    justify-content: center;

    > p {
      color: white;
      text-transform: uppercase;
      font-size: 25px;
      margin-top: 85px;
    }
  }
}

.-inactive {
  pointer-events: none;
}
