.scroll-container {
  background-color: $main-base-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-direction: column;
  width: 100vw;
  top: 20px;
  z-index: 10;
  transition: top .5s;

  &.active-production-time {
    top: 60px;
  }

  .upper-scroll-container {
    height: 40px;
  }

  .lower-scroll-container {
    height: 50px;
    width: 100vw;
    border-top: 1px solid $main-border-color;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .lower-scroll-container,
  .upper-scroll-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .nav-item {
      &:last-child {
        padding-right: 10px;
      }
    }

    > .nav-item > .lower-nav-items {
      display: flex;
      justify-content: center;
      width: 50px;

      .nav-category-item {  
        transition: font-size .5s
      }
    }

    > .nav-item > .lower-nav-items > .selectedCategory {
      color: $secondary-color;
      font-size: 20px;
      padding: 0;
      transition: font-size .6s;
    }

    > .wait-time > h5 {
      margin: 0;
      padding: 0 20px;
    }
  }
}

::-webkit-scrollbar { 
  display: none; 
}
