.scroll-container {
  display: flex;
  width: 100vw;
  background-color: #131313;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 20px;
  transition: top 1.5s;

  &.active-production-time {
    top: 60px;
  }

  .upper-scroll-container {
    height: 40px;
  }
  
  .lower-scroll-container {
    height: 60px;
    width: 100vw;
    border-top: 1px solid gray;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .lower-scroll-container,
  .upper-scroll-container {
    margin: 0 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .nav-item > .h5 {
      margin: 0;
      padding: 0 20px; 
    }

    > .nav-item > .selectedCategory {
      color: $secondary-color;
      font-size: 20px;
    }

    > .wait-time > h5 {
      margin: 0;
      padding: 0 20px; 
    }
  }
}
  
::-webkit-scrollbar { 
  display: none; 
}
  
  
