@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic|News+Cycle:400,700&display=swap');

$screen-xs-left-margin: 28px;
$screen-sm-left-margin: 110px;
$screen-lg-left-margin: 190px;

$screen-sm-min: map-get($grid-breakpoints, sm); // 576px
$screen-sm-md: map-get($grid-breakpoints, md); // 768px
$screen-sm-lg: map-get($grid-breakpoints, lg); // 992px
$screen-sm-xl: map-get($grid-breakpoints, xl); // 1200px

$main-color: #AA0909;
$secondary-color: #AC9416;
$main-secondary-color: #c4c4c4;
$main-base-color: #131313;

$main-border-color: #676565;

// $secondary-base-color: ;
$regular-font: 'Carrois Gothic', sans-serif;
$header-font: 'News Cycle', sans-serif;

#app {
  color: black;

  .mobile {
    @media (min-width: $screen-sm-md) {
      display: none;
    }
  }
  
  .desktop {
    @media (max-width: $screen-sm-md) {
      display: none;
    }
  }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}