@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic|News+Cycle:400,700&display=swap");

$screen-xs-left-margin: 28px;
$screen-sm-left-margin: 110px;
$screen-lg-left-margin: 190px;

$screen-sm-min: 576px;
$screen-sm-md: 768px;
$screen-sm-lg: 992px;
$screen-sm-xl: 1200px;

$main-color: #aa0909;
$secondary-color: #ac9416;
$main-secondary-color: #c4c4c4;
$main-base-color: #131313;
$main-border-color: #676565;

// $secondary-base-color: ;
$regular-font: "Carrois Gothic", sans-serif;
$header-font: "News Cycle", sans-serif;

#app {
  color: $main-base-color;

  .mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .desktop {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

html {
  background: #000000;
}

body {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
