.alternative-wrapper {
  display: grid;
  justify-content: center;
  background: #fff;
  grid-template-columns: 50px 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: '. option .';

  @media (max-width: 430px) { padding: 0 10px; }
  @media (min-width: 431px) { padding: 0 50px; }  
  @media (min-width: 770px) { padding: 0 20px; }
  
  .option-wrapper {
    grid-area: option;
    border-left: 1px solid $main-secondary-color;
    padding: 25px 0;
    display: flex;
    flex-direction: column;

    > .protein-wrapper {
      grid-area: icon;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 15px;

      @media (max-width: 768px) { width: 250px; }
    }
    
    > .spice-wrapper {
      grid-area: icon;
      display: flex;
    }
  }


  .wrapper {   
    border: 1px solid  $main-border-color;
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

  }
  
  .spice {
    width: 65px;
  }

  .protein {
    width: 103px;
    margin-top: 10px;
  }

  .active-spice {
    border: 1px solid $main-color;
  }

  .active-protein {
    border: 1px solid $secondary-color;
  }
}