.alternative-wrapper {
  display: grid;
  justify-content: center;
  background: #fff;
  grid-template-columns: 45px 235px 55px;
  grid-template-rows: auto;
  grid-template-areas: '. option .';

  @media (min-width: $screen-sm-md) {
    grid-template-columns: 45px 235px 55px;
  }
  @media (min-width: $screen-sm-lg) {
    grid-template-columns: 45px 350px 55px;
  }
  
  .option-wrapper {
    grid-area: option;
    border-left: 1px solid $main-secondary-color;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;

    > .protein-wrapper {
      grid-area: icon;
      display: flex;
      margin-bottom: 15px;
    }
    
    > .spice-wrapper {
      grid-area: icon;
      display: flex;
    }
  }


  .wrapper {   
    border: 1px solid  $main-border-color;
    border-radius: 5px;
    width: 65px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .active-spice {
    border: 1px solid $main-color;
  }

  .active-protein {
    border: 1px solid $secondary-color;
  }
}