.content-text-wrapper {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 30px;

  @media (max-width: $screen-sm-md) {
    padding: 30px 10px;
  }

  .dish-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 2rem;

    h4 {
        margin: 0;
        line-height: .8;
    }

    .dish-name {
      display: flex;
      flex-direction: column;
      flex: 1;

      h3 {
        margin: 0;
        margin-left: 49px;
        line-height: .8;
      }

      .line {
        height: 1.5px;
        margin-right: 20px;
        background: $main-secondary-color;
      }
    }
  }

  .dish-content {
    display: flex;
    flex-direction: row;
    margin-left: 15px;

    h4,
    p {
        margin: 0;
    }
    p {
      margin: 5px 0 10px 20px;
    }
    h4 {
        margin-top: 5px;
        color: #676565;
    }
  }
}
