.content-text-wrapper {
  background: #fff;
  display: grid;
  justify-content: center;
  padding-top: 20px;
  grid-template-columns: 50px 2fr .3fr;
  grid-template-rows: 60px auto auto;
  grid-template-areas:
  'filler name price'
  'number content content'
  'number icon icon';

  @media (max-width: 430px) { padding: 0 10px 0; }
  @media (min-width: 431px) { padding: 20px 50px 0; }
  @media (min-width: 768px) { padding: 0 20px 0; flex: 1 }

  .content-filler {
    grid-area: filler;
    border-bottom: 1px solid $main-secondary-color;
  }

  .dish-name {
    grid-area: name;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $main-secondary-color;
    border-left: 1px solid $main-secondary-color;


    > h3 {
      margin: 0;
      margin-left: 10px;
      line-height: .8;
    }
  }

  .dish-price {
    grid-area: price;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .dish-number {
    grid-area: number;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    h4 {
      color: $main-border-color;
    }  
  }

  .dish-content {
    grid-area: content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-left: 1px solid $main-secondary-color;
    
    p {
      margin: 10px 0 0 10px;
    }
  }

  h4 {
    margin: 0;
    line-height: 1;
  }

  .icon-wrapper {
    padding-top: 12px;
  }

  .icon-container {
    grid-area: icon;
    border-left: 1px solid $main-secondary-color;

    .add-icon {
      display: flex;
      justify-content: flex-end;
      padding: 15px 0;
      
      @media (min-width: 1024px) {
        padding: 20px 15px 0;
      }
    }
  } 
}
