  .card-customize {
    background: #fff;
    display: grid;
    justify-content: center;
    padding: 0 0 50px;
    grid-template-columns: 45px 235px 55px;
    grid-template-rows: auto;
    grid-template-areas: 'filler content .';

    @media (min-width: $screen-sm-md) {
      grid-template-columns: 45px 235px 55px;
    }
  
    @media (min-width: $screen-sm-lg) {
      grid-template-columns: 45px 350px 55px;
    }

  .filler {
    grid-area: filler;
  }

  .ingredients-content {
    grid-area: content;
    border-left: 1px solid $main-secondary-color;

    .ingredients-list {
      font-size: 16px;
      height: 30vh;
      overflow-x: auto;  
      
      .ingredient {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;
        color: black;

        &.active .ingredient-price {
          font-size: 16px;
        }

        &.active .ingredient-name {
          padding: 0;

          &::before {
            background: $main-secondary-color;
            border: none;
          }
        }

        &.inactive .ingredient-name {
          font-size: 14px;
          padding: 2px;

          &::before {
            width: 21px;
            height: 21px;
            margin-right: 22px;
          }
        }

        > .ingredient-price {
          font-size: 14px;
        }

        > .ingredient-name {
          display: flex;
          align-items: center;

          &::before {
            content: '';
            display: inline-block;
            border-radius: 999px;
            border: 1px solid black;
            width: 25px;
            height: 25px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

/* 
.card-customize > .ingredient-content > .ingredients-list > .ingredients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  color: black;

  &.active .ingredient-price {
    font-size: 16px;
  }

  &.active .ingredient-name {
    &::before {
      background: $main-secondary-color;
      border: none;
    }
  }

  &.inactive .ingredient-name {
    font-size: 14px;

    &::before {
      width: 21px;
      height: 21px;
      margin: 0 24px 0 2px;
    }
  }

  > .ingredient-price {
    font-size: 14px;
  }

  > .ingredient-name {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      border-radius: 999px;
      border: 1px solid black;
      width: 25px;
      height: 25px;
      margin-right: 20px;
    }
  }
} */
