.content-text-wrapper {
  background: #fff;
  display: grid;
  justify-content: center;
  padding-top: 20px;
  grid-template-columns: 45px 235px 55px;
  grid-template-rows: 40px 86px 30px;
  grid-template-areas:
  'filler name price'
  'number content content'
  'number icon icon';

  @media (min-width: $screen-sm-md) {
    grid-template-columns: 45px 235px 55px;
    padding: 10px 10px 0;
  }

  @media (min-width: $screen-sm-lg) {
    grid-template-columns: 45px 350px 55px;
  }

  .content-filler {
    grid-area: filler;
    border-bottom: 1px solid $main-secondary-color;
  }

  .dish-name {
    grid-area: name;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $main-secondary-color;
    border-left: 1px solid $main-secondary-color;


    > h3 {
      margin: 0;
      margin-left: 10px;
      line-height: .8;
    }
  }

  .dish-price {
    grid-area: price;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .dish-number {
    grid-area: number;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    h4 {
      color: #676565;
    }  
  }

  .dish-content {
    grid-area: content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    border-left: 1px solid $main-secondary-color;
    
    p {
      margin: 10px 0 0 10px;
    }
  }

  h4 {
    margin: 0;
    line-height: 1;
  }

  .icon-wrapper {
    grid-area: icon;
    border-left: 1px solid $main-secondary-color;
  }

  .icon-container {
    grid-area: icon;
    border-left: 1px solid $main-secondary-color;

    .add-icon {
      display: flex;
      justify-content: flex-end;
    }
  } 

  /* .add-icon {
    display: flex;
    justify-content: flex-end;
    border-left: 1px solid $main-secondary-color;
  } */
}
