.products {
  background: $main-base-color;

  .sections-wrapper {
    @media (min-width: $screen-sm-md) {
      display: flex;
      justify-content: space-between;
    }

    &.mobile {
      @media (min-width: $screen-sm-md) {
        display: none;
      }       
    }

    .lunch-component {
      padding-top: 6rem;
    }

    section {
      &:first-child {
        @media (min-width: $screen-sm-lg) {
          width: 42vw;
        }

        @media (min-width: $screen-sm-md) {
          width: 49.3vw;
        }
      }

      &:last-child {
        width: 100vw;

        @media (min-width: $screen-sm-md) { width: 49.3vw; }
        @media (min-width: $screen-sm-lg) {
          width: 57vw;
          margin-left: 10px;
        }
      }
    }
  }

  .nav-buttons.mobile {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: -60px;
    width: 100vw;
    transform: translate3d(0, 0, 0);
    transition: 0.1s all ease-out;

    .nav-mobile.navigation-button {
      width: 49.5%;
      border-radius: unset;
      background: rgba(170, 9, 9, 0.9);
      margin: 0;
      height: 60px;

      a {
        display: flex;
        flex-direction: row;
        
        > img {
          height: 35px;
          width: 35px;
          margin: 0 .6rem 0 0;
        }
      }

    }
  } 
  .nav-buttons.mobile.navbar--hidden {
    transform: translate3d(0, -100%, 0);
  }

  .nav-bar-products {
    position: fixed;
    visibility: hidden;
    top: 0px;
    width: 100vw;
    transform: translate3d(0, -100%, 0);
    transition: 0.1s all ease-out;
  }

  .nav-bar-products.mobile.navbar--hidden {
    transform: translate3d(0, 0, 0);
    visibility: unset;
  } 

  .nav-bar-desktop {
    position: fixed;
    visibility: hidden;
    top: 0px;
    width: 100vw;
    transform: translate3d(0, -100%, 0);
    transition: 0.1s all ease-out;
  }

  .nav-bar-desktop.desktop.navbar--hidden {
    transform: translate3d(0, 0, 0);
    visibility: unset;
  } 

  .nav-bar-desktop.nav-desk-container >.nav-item {
    &:first-child {
      visibility: unset;
    }
  }  
}
