#app > .menu {
  background: grey;

  .sections-wrapper {
    
    @media (min-width: $screen-sm-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
  }
  
}
