.footer {
  background: grey;
  height: 130px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2rem;
  background: no-repeat center center  url('~@/assets/images/background-desktop.jpg');
}
