.home {
  overflow: hidden;
  .wrapper {
    background: no-repeat center center url('~@/assets/images/background-mobile.jpg'); 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    @media (min-width: 768px) { background-image: url('~@/assets/images/background-desktop.jpg'); }

    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 20px;
      padding: 10px 0 0;
    }

    .golden-arrow {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 5px;
      left: 50%;
      right: 50%;
    }

    .bounce {
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      50% { transform: translateY(-10px); }
    }
  }

  .text-section {
    background-color: $main-base-color;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      color: white;
      margin: 0;
    }
  }

  .map-section {
    position: relative;

    .text-wrapper {
      position: absolute;
      left: 80px;
      top: 300px;
      background: white;
      width: 250px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .about-section {
    background: white;
    padding: 5rem 0 15rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > p {
      width: 50vw;
    }

    > h3 {
      color: black;
      margin: 2rem;
    }

    .about-pics {
      display: flex;
      margin: 5rem 0;

      >.about-img {
        position: relative;
        width: 33.33vw;

        > .dark,
        .gold {
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 1;
        }

        > .dark {
          background-color: rgba($color: #000000, $alpha: .7);
        }
        
        > .gold {
          background-color: rgba($color: #ac9416, $alpha: .7);
        }

        > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.home > .wrapper > .navigation-buttons-container {
  left: calc(50vw + 70px);
  top: 50vh;
  position: relative;
  z-index: 1;

  @media (min-width: 768px) {
    left: calc(50vw + 200px);
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media (min-width: 1400px) {
    left: calc(50vw + 140px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 310px;
    top: 66vh;
  }
}

.home > .wrapper > .line-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  padding-top: 180px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
  > .line-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 180px;
    height: calc(100vh - 180px);
  
    > .first-line {
      background: $main-secondary-color;
      height: 94%;
      width: 1px;
      position: relative;
    }

    > .second-line {
      background: $main-secondary-color;
      top: 16%;
      height: 1px;
      width: 100%;
      position: absolute;

      @media (max-width: 1399px) { left: 45%; }
      @media (min-width: 1400px) { right: 39%; }
    }

    > .third-line {
      background: $main-secondary-color;
      top: 63%;
      height: 1px;
      width: 210px;
      right: 38%;
      position: absolute;

      @media (min-width: 1400px) {
        right: 39%;
        width: 532px;
        top: 30%;
      }
    }

    > .fourth-line {
      background: $main-secondary-color;
      top: 80%;
      height: 1px;
      width: 100%;
      right: 45%;
      position: absolute;

      @media (min-width: 1400px) {
        left: 45%;
        top: 75%;
      }
    }

    > .line-wrapper-upper-text {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 37%;
      left: 5%;
      width: 400px;

      @media (max-width: 990px) {
        width: 340px;
      }

      > .line-container-image {
        height: 75px;
        margin-bottom: 2rem;
      }

      > .line-container-text {
        margin-bottom: 2rem;
        line-height: 1.3;
        font-size: 14px;

        @media (min-width: $screen-sm-lg) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }

    > .line-wrapper-text {
      color: white;
      position: absolute;
      top: 70%;
      right: 57%;

      @media (min-width: 768px) {
        left: 5%;
      }
    }
  }
}
