.home {
  overflow: hidden;
  .wrapper {
    background-color: hsla(0, 0%, 0%, 0);
    background: no-repeat center center; 
    background-size: cover;
    height: 100vh;
    width: 100vw;

    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 20px;
      padding: 10px 0 0;
    }

    .golden-arrow {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 5px;
      left: 50%;
      right: 50%;
    }

    .bounce {
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      50% { transform: translateY(-10px); }
    }
  }

  .text-section {
    background-color: $main-base-color;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      color: white;
      margin: 0;
    }
  }

  .map-section {
    position: relative;

    .text-wrapper {
      position: absolute;
      left: 80px;
      top: 300px;
      background: white;
      width: 250px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .about-section {
    background: white;
    padding: 6rem 0 15rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > p {
      width: 50vw;
    }

    > h3 {
      color: black;
      margin: 2rem;
    }

    .about-pics {
      margin: 5rem 0;
      >img {
        width: 33.33vw;
      }
    }
  }
}

.home > .wrapper > .navigation-buttons-container {
  left: calc(50vw + 70px);
  top: 50vh;
  position: relative;
  z-index: 1;

  @media (min-width: 769px) {
    left: calc(50vw + 200px);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media (min-width: 1400px) {
    left: calc(50vw + 140px);
    display: flex;
    justify-content: space-between;
    width: 430px;
    top: 55vh;
  }

  @media (min-width: 769px) {
    > .navigation-button {
      height: 100px;
      width: 100px;
    }
  }
}

.home > .wrapper > .line-wrapper {
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  padding-top: 180px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
  > .line-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 180px;
    height: calc(100vh - 180px);
  
    > .first-line {
      background: $main-secondary-color;
      height: 94%;
      width: 1px;
      position: relative;
    }

    > .second-line {
      background: $main-secondary-color;
      top: 16%;
      height: 1px;
      width: 100%;
      position: absolute;

      @media (max-width: 1399px) { left: 45%; }
      @media (min-width: 1400px) { right: 39%; }
    }

    > .third-line {
      background: $main-secondary-color;
      top: 55.5%;
      height: 1px;
      width: 150px;
      right: 40%;
      position: absolute;

      @media (min-width: 1400px) {
        right: 39%;
        width: 532px;
        top: 30%;
      }
    }

    > .fourth-line {
      background: $main-secondary-color;
      top: 65%;
      height: 1px;
      width: 100%;
      right: 45%;
      position: absolute;

      @media (min-width: 1400px) {
        left: 45%;
        top: 75%;
      }
    }

    > .line-wrapper-upper-text {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 40%;
      left: 5%;
      width: 400px;

      @media (max-width: 1399px) {
        display: none;
      }

      > .line-container-image {
        height: 75px;
      }

      > .line-container-text {}
    }

    > .line-wrapper-text {
      color: white;
      position: absolute;
      top: 70%;
      right: 57%;

      @media (min-width: 1400px) {
        left: 5%;
      }
    }
  }
}
