.home {
  overflow: hidden;
  .wrapper {
    background-color: hsla(0, 0%, 0%, 0);
    background: no-repeat center center; 
    background-size: cover;
    height: 100vh;
    width: 100vw;

    header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0 20px;
      padding: 10px 0 0;
    }

    .golden-arrow {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 5px;
      left: 50%;
      right: 50%;
    }

    .bounce {
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }
  }

  .text-section {
    background-color: $main-base-color;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      color: white;
      margin: 0;
    }
  }

  .map-section {
    position: relative;

    .text-wrapper {
      position: absolute;
      left: 80px;
      top: 300px;
      background: white;
      width: 250px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .about-section {
    background: white;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    >p {
      width: 50vw;
    }

    >h3 {
      color: black;
    }
  }
}

.home > .wrapper > .navigation-buttons-container {
  left: calc(50vw + 70px);
  top: 50vh;
  position: relative;
  z-index: 1;
}

.home > .wrapper > .line-wrapper {
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  padding-top: 180px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  
  > .line-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    top: 180px;
    height: calc(100vh - 180px);
  
    .first-line {
      background: $main-secondary-color;
      height: 94%;
      width: 1px;
      position: relative;
    }
    .second-line {
      background: $main-secondary-color;
      top: 16%;
      height: 1px;
      width: 100%;
      left: 45%;
      position: absolute;
    }
    .third-line {
      background: $main-secondary-color;
      top: 55.5%;
      height: 1px;
      width: 150px;
      right: 40%;
      position: absolute;
    }
    .fourth-line {
      background: $main-secondary-color;
      top: 65%;
      height: 1px;
      width: 100%;
      right: 45%;
      position: absolute;
    }

    .line-wrapper-text {
      color: white;
      position: absolute;
      top: 70%;
      right: 57%;
    }
  }
}
