.navigation-button {
  background: rgba(170, 9, 9, 0.8);
  width: 85px;
  height: 85px;
  border-radius: 3px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  
  text-transform: uppercase;

  @media (max-width: 768px) {
    width: 75px;
    height: 75px;
    margin-bottom: 25px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > span {
      font-size: 14px;
      color: white;
    }

    > img {
      height: 35px;
      width: 35px;
      margin-bottom: 6px;
  
      @media (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }
  }



}
