.order {
  background: $main-base-color;

  @media (min-width: $screen-sm-md) {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  @media (min-width: 768px) {
    overflow: hidden;
    position: relative;
  }

  .card-wrapper {
    padding: 110px 0 60px 0;
    height: 100vh;
    overflow-y: scroll;

    @media (min-width: $screen-sm-md) {
      width: 75%;
      padding: 0;
    }

    > .card-item {
      &:last-child {
        padding-bottom: 60px;
      }
    }
  }

  .lunch-btn {
    background: #AA0909;
    width: 40px;
    height: 125px;
    position: fixed;
    left: 0px;
    top: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    color: white;

    > ul {
      margin: 0;
      padding: 0;
    }
  }
}
