.order {
  background: $main-base-color;

  @media (min-width: $screen-sm-md) {
    display: flex;
    height: 100vh;
    width: 100vw;
  }

  @media (min-width: 768px) {
    overflow: hidden;
    position: relative;
  }

  .card-wrapper {
    padding: 120px 0 60px 0;
    height: 100vh;
    overflow-y: scroll;

    @media (min-width: $screen-sm-md) {
      width: 75%;
      padding: 0;
    }

    > .card-item {
      &:last-child {
        padding-bottom: 60px;
      }
    }
  }

  .lunch-btn {
    background: #AA0909;
    width: 110px;
    height: 60px;
    position: fixed;
    right: 0px;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
  }
}
