.payment {
  background: rgba($color: #000000, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  
  .payment-wrapper {
    background: white;
    position: absolute;
    height: 200px;
    width: 400px;
    border-radius: 5px;

    @media (max-width: 450px) {  
      width: 90vw;
    }

    > .payment-form > .payment-information {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    > .payment-form > .payment-information >
    .payment-error,
    .payment-card {
      display: flex;
      justify-content: center;
      height: 50px;
      width: 80%;

      #card-element {
        width: 100%;
      }
    }

    > .payment-form > .payment-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100px;

      > #reset-button {
        height: 20px;
        width: 25%;
      }

      > #submit-button {
        background: $main-color;
        border: none;
        border-radius: 5px;
        color: white;
        height: 40px;
        width: 80%;
        margin-bottom: 10px;

        .button-text {
          text-transform: uppercase;
        }
      }
    }
  }
}