.side-navigation {
  color: white;
  width: 20%;
  position: relative;

  @media (min-width: 768px) { width: 35%; }
  @media (min-width: 1367px) { width: 20%; }

  .icon-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .show-time {
    text-align: right;
    
    > span {
      font-size: 14px;
    }
  }

  .time-enter-active, .time-leave-active {
    transition: all .3s ease;
  }
  .time-enter, .time-leave-to {
    opacity: 0;
    transform: translateX(20px);
  }

  .category-wrapper {
    margin: 3rem 0 0 1rem;
    height: 60vh;

    > .side-navigation-container {
      position: relative;
    }

    > .side-navigation-line {
      background: $main-border-color;
      position: absolute;
      height: 54%;
      width: 1px;
      left: 33px;
    }

    > .side-navigation-container > .side-navigation-list {
      padding-top: 10px;
      position: relative;

      > .line {
        background: $main-border-color;
        position: absolute;
        height: 1px;
        width: 10px;
        top: 85%;
        left: -25px;

        &.-active {
          background: $secondary-color;
          transition: width .3s;
          width: 200px;
          left: -100px;
        }
      }
    }
  }

  .navigation-button {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 85px;

    @media (min-width: 1367px) { display: none; }

    >.cart-icon-wrapper {
      position: relative;

      > img {
        margin-bottom: 6px;
      }
  
      > .cart-content {
        height: 20px;
        width: 20px;
        border-radius: 999px;
        background: white;
        position: absolute;
        top: 3px;
        left: 30px;
        color: black;
        text-align: center;
      }
  }
}

  h3 {
    color: $main-secondary-color;
    font-weight: normal;
  }

  .selectedCategory {
    color: $secondary-color;
    font-size: 30px;
  }

  .activate-desktop-cart {
    width: 200px;
    justify-content: space-around;
    border-radius: 0 5px 5px 0;
  }
}