.nav-container {
  display: flex;
  width: auto;
  background-color: #131313;
  justify-content: space-between;
  align-items: center;
  height: 60px;  
  width: 100vw;
  
  .nav-item {
    margin: 20px;
  }
}

