.order {
  background: $main-base-color;

  @media (max-width: $screen-sm-lg) {

  }

  @media (min-width: $screen-sm-md) {
    display: flex;
    height: 100vh;
  }

  .card-wrapper {
    @media (min-width: $screen-sm-md) {
      width: 50%;
      overflow-y: scroll;
    }
    
  }
}
